
.carta{
    width: 200px;
    height: 180px;
}

.portada{
    width: 150px;
    height: 200px;
    background-color: rgb(126, 7, 3);
}
.contenido{
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.ReactFlipcard{
    height: 100%;
    width: 100%;
}


@media (max-width: 700px) {
    .portada {
      width: 90px;
      height: 120px;
      justify-items: center;
    }
    .contenido {
      width: 90px;
      height: 120px;
      justify-items: center; 
    }
    .carta {
      width: 130px;
      height: 130px;
      justify-items: center;
    }
  }